.method {
	padding: 1vw;
	width: 9vw;
	font-size: 1vw;
}
.urlComponent {
	display: flex;
	color: white !important;
}
.inputUrl {
	color: white !important;
	text-decoration-color: white !important;
}
.ui.transparent.input > input {
	color: white !important;
	font-style: italic;
}
.url {
	width: 36vw;
	padding-top: 3vh;
	color: white !important;
}
.selectTag {
	background-color: #404040 !important;
	color: white !important;
	padding-left: 1.5vw;
	width: 2vw;
}
@media (min-width: 320px) and (max-width: 1025px) {
	.method {
		width: 25vw;
		font-size: 2vw;
		text-align: left;
	}
	.url {
		width: 54vw;
		padding-top: 1vh;
		color: white !important;
		font-size: 3vw;
	}
}
