.method {
	margin: 1vw;
	width: 9vw;
	font-size: 1vw;
	height: 5.5vh;
}
.urlComponent {
	display: flex;
	justify-content: space-around;
	color: white !important;
}
.inputUrl {
	color: white !important;
	text-decoration-color: white !important;
}
.ui.transparent.input > input {
	color: white !important;
	font-style: italic;
}

.url {
	width: 36vw;
	margin-top: 3vh;
	color: white !important;
}
.selectTag {
	background-color: #404040 !important;
	color: white !important;

	width: 2vw;
}
.send {
	margin: 1vw;
	width: 9vw;
	font-size: 1vw;
}
.submitBtn {
	height: 5.5vh;
}
.collectionSelect {
	margin: 1vw;
	width: 9vw;
	font-size: 1vw;
	height: 5.5vh;
}
.sendMobile {
	display: none;
}
@media (min-width: 320px) and (max-width: 1025px) {
	.method {
		width: 25vw;
		height: 4vh;
		font-size: 2vw;
		text-align: left;
	}
	.urlComponent {
		justify-content: space-between;
	}
	.url {
		width: 40vw;
		margin-top: 1vh;
		color: white !important;
		font-size: 3vw;
	}
	.collectionSelect {
		width: 25vw;
		height: 4vh;
		font-size: 2vw;
		text-align: left;
	}
	.send {
		display: none;
	}
	.sendMobile {
		display: inline;
		position: absolute;
		bottom: 0;
		width: 100%;
	}
	.collectionMobileSelect {
		display: inline;
	}
}
