.code-box-demo {
	text-align: center;
}
.ant-layout-header {
	height: 10vh !important;
	background: #1a1a2e !important;
	border-bottom: 2px solid black;
}
.ant-layout-footer {
	background: #1a1a2e !important;
	color: #fff !important;
	height: 5vh !important;
	border: 2px solid black;
}

.ant-layout-footer {
	line-height: 1.5;
}
.main {
	display: flex;
}
[data-theme="dark"] .ant-layout-sider {
	background: #3499ec;
}

.ant-layout-content {
	background: #16213e;
	color: #fff;
	min-height: 85vh !important;
}
[data-theme="dark"] .ant-layout-content {
	background: #107bcb;
}
.sidebar {
	min-width: 25vw;
	min-height: 80vh;
	background-color: #1b1c1d;
	border: 2px solid black;
	/* overflow: scroll; */
}
.sidebarOpen {
	min-width: 25vw;
	/* min-height: 80%; */
	background-color: #1b1c1d;
	border: 2px solid black;
	/* overflow: scroll; */
}

@media (min-width: 320px) and (max-width: 1025px) {
	.sidebar {
		display: none;
	}
	.sidebarOpen {
		min-width: 50vw;
	}

	.ant-layout-content {
		min-width: 70vw !important;
	}
}
