.openSidebar {
	display: none;
}

.bodyContent {
	min-height: 44vh;
	border-bottom: 4px solid black;

	background: #1b1c1d;
	overflow-y: scroll;
	overflow-x: hidden;
}
@media (min-width: 320px) and (max-width: 1025px) {
	.openSidebar {
		display: inline;
		font-size: 4vw;
	}
}
