.example {
	color: #ffffff !important;

	font-family: 'Poppins', 'arial';
	font-size: 1vw;
}
.exampleMethod {
	float: right;
}
@media (min-width: 320px) and (max-width: 1025px) {
	.example {
		font-size: 2.5vw;
	}
}
