.urlTitle {
	display: flex;
	/* justify-content: space-around; */
	min-height: 50px;
	background-color: #1b1c1d;

	padding-left: 1vw;
}
.inputUrl {
	width: 66vw;
}
.loginLetter {
	padding-top: 10px;
}
@media (min-width: 320px) and (max-width: 1020px) {
	.title {
		height: 3vh;
	}
	.inputUrl {
		width: 85vw;
	}
}
